<h1>Users</h1>

<%= notice %>

<%= form_tag("users/search", method: "get") do %>
  <%= label_tag(:keyword, "Search Users by Name or Username:") %>
  <%= text_field_tag(:keyword) %>
  <%= submit_tag("Search") %>
<% end %>


<h3>Browse all:</h3>
<ul>
  <% @users.each do |user| %>
  <li><%=link_to user.username, user %></li>
  <% end %>
</ul>
