<% if current_user == @user %>

<h1>Welcome, <%= current_user.name %>!</h1>
<%= notice %><br>
<%= link_to "Rate a new book!", books_path %><br>
<%= link_to "Edit Profile", edit_user_path(@user) %><br>
<%= link_to "Delete Account", user_path(@user), method: :delete, data: {confirm: "Are you sure you want to delete your account? This action cannot be reversed!!!"} %><br>

<% else %>


<h1><%=@user.name%> (<%= @user.username %>)</h1>
<% if logged_in? %>
<%= notice %>
  <% if current_user.friends.include? @user %>
    <%= form_tag "/friends/#{@user.id}/remove", method: "post" do %>
    <%= submit_tag "Remove Friend" %>
    <% end %>
  <% else %>
    <%= form_tag "/friends/#{@user.id}/add", method: "post" do %>
    <%= submit_tag "Add Friend" %>
    <% end %>
  <% end %>
  <% end %>
<% end %>
<% if @user.bio && @user.bio != "" %>
<h2>Bio:</h2>
<%= @user.bio %>

<% else %>
  <% if current_user == @user %>
  <br><br>
  <strong>Your bio is blank! Why don't you <%= link_to "add something to it?!", edit_user_path%></strong>
  <% end %>
<% end %>

<h3>Recently Rated</h3>
<ul>
      <%@user.ratings.order('updated_at DESC').limit(5).each do |rating| %>
      <li><em><%=link_to rating.book.name, rating.book%></em> by <%=link_to rating.author.name, rating.author%> - <strong><%=current_user == @user ? (link_to rating.amount, edit_rating_path(rating)) : rating.amount%></strong></li>
      <% end %>
    </ul>

<h3>Top Rated </h3>
<ul>
  <%@user.ratings.order('amount DESC, updated_at DESC').each do |rating| %>
  <li><em><%=link_to rating.book.name, rating.book%></em> by <%=link_to rating.author.name, rating.author%> - <strong><%=current_user == @user ? (link_to rating.amount, edit_rating_path(rating)) : rating.amount%></strong></li>
  <% end %>
</ul>

<% if @user.friends != []%>
<h3>Friends</h3>
  <ul>
    <% @user.friends.sort_by do |friend| friend.username end.each do |friend| %>
      <li><%=link_to friend.username, friend%></li>
    <% end %>
  </ul>
<% end %>
<% if @user.followers != []%>
<h3>Followers</h3>
  <ul>
    <% @user.followers.sort_by do |follower| follower.username end.each do |follower| %>
      <li><%=link_to follower.username, follower%></li>
    <% end %>
  </ul>
<% end %>
