<h1>Books</h1>

<%= form_tag("books/search", method: "get") do %>
  <%= label_tag(:keyword, "Search Titles:") %>
  <%= text_field_tag(:keyword) %>
  <%= submit_tag("Search") %>
<% end %>


<h3>Browse All:</h3>
<ul>
  <% @books.each do |book| %>
  <li><%=link_to book.name, book%> by <%= link_to book.author.name, book.author %>, <%= link_to book.genre.name, book.genre %> - <strong>Average Rating: <%= book.average_rating %></strong></li>
  <% end %>
</ul>
