<h1>Books</h1>
<%= notice %>
<%= form_tag("books/search", method: "get") do %>
  <%= label_tag(:keyword, "Search Titles:") %>
  <%= text_field_tag(:keyword) %>
  <%= submit_tag("Search") %>
<% end %>

<br>Can't find what you're looking for? <%= link_to "Create a new book!", new_book_path %>

<h3>Browse All:</h3>
<ul>
  <% @books.each do |book| %>
  <li><em><%=link_to book.name, book%></em> by <%= link_to book.author.name, book.author %>, <%= link_to book.genre.name, book.genre %> - <strong>Average Rating: <%= book.average_rating %></strong></li>
  <% end %>
</ul>
